// Define input parameters
// params.reads = '/work/results/*_{1,2}.fastq.gz'
params.outdir = "./results"
// params.trim_read='/work/results/trimmed_reads/*_Trimmed_{1,2}.fastq.gz'
params.index='/work/cca_index'
workDir = '/work/nextflow_work'
env.TMPDIR = '/data/tmp_sra'
// params.bam = '/work/results/alignments'
params.gff = '/work/long_mRNA_copy.gff'


// process {
//   executor = 'local'
//   container = ''  // Don't set a container here if running inside a container
// }

docker.enabled = false


process {
    executor = 'local'
    maxForks = 3      // Only 3 alignment jobs in parallel
    queueSize = 100

    withName: Alignment {
        cpus = 4
        memory = '16 GB'
    }
}

